.cart-page-container {
  display: flex;
  flex-direction: column;
  height: 90dvh;
}

.content-wrap {
  padding: 0 0;
  background-color: #ffffff;
  text-align: center;
  height: 500px;
}

.cart-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.cart-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.cart-item-content {
  flex: 1;
  text-align: left;
}

.cart-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cart-item p {
  margin-bottom: 5px;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quantity-button {
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #748c69;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button {
  padding: 5px 10px;
  height: 40px;
  width: 150px;
  margin-top: 5px;
  margin-right: 30px;
  background-color: #748c69;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.item-actions .quantity-button:hover,
.item-actions .remove-button:hover {
  background-color: #5c6e4f;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
}

.cart-links {
  margin-top: 20px;
}

.cart-links a {
  margin-right: 10px;
  padding: 0.5rem 1rem;
  background-color: #748c69;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cart-links a:hover {
  background-color: #5c6e4f;
}

.item-quantity-digit {
  font-size: 1.3rem;
  color: #748c69;
}

.empty-cart {
  margin-top: 5rem;
  text-align: center;
}
